body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {text-align: center;}

div.card {
    display: inline-flex;
    align-items: center;
    margin: 50px;
    padding: 5px;

}



footer {
    text-align: center;
}
